.root,.donateShop{
	height:100%;
	z-index: 1;
	width:100%;
}

.DonateShopPanel{
	height:700px;
	width:1250px;
	background-image: url("file://{images}/spell_menu/background.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color:black;
	vertical-align:center;
	horizontal-align:center;
	margin-bottom:10%;
}

#OpenShopButton{
	width:45px;
	height:45px;
	margin-left:170px;
	margin-top:5px;
	tooltip-position: bottom;
	background-image: url("file://{images}/shop/shop.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#CloseShopButton{
	height:20px;
	width:20px;
	horizontal-align:right;
	margin: 5px;
	z-index: 2;
	background-image: url("file://{images}/shop/close.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#OpenShopButton:hover, #CloseShopButton:hover{
	brightness: 1.8;
}

#OpenShopButton:active{
	sound: "ui_chat_slide_in";
}

#CloseShopButton:active{
	sound: "ui_custom_lobby_dialog_slide";
}

#PlayerInfoPanel{
	height:75px;
	width:1602px;
	flow-children:right;
	/* background-color: red; */
	margin-left: 10px;
	margin-top: 10px;
}

#PlayerIcon{
	height:75px;
	width:75px;
}

#PlayerStatisticContainer{
	flow-children: down;
}

#PlayerStatisticContent{
	flow-children:right;
}

#PlayerName{
	/* vertical-align:center; */
	margin-left:10px;
}

#MainShopPanel{
	width:1230px;
	height:600px;
	vertical-align:bottom;
	horizontal-align:center;
	margin-bottom:40px;
	/* box-shadow: #00000080 4px 4px 8px 0px; */
	flow-children:down;
}

#DonateShopTabsPanel{
	horizontal-align:center;
	flow-children: right;
}

.TabPanel{
	width:150px;
	height:35px;
	background-image: url("file://{images}/shop/button.png");
	background-repeat: no-repeat;
	background-size: 100%;
	brightness: 0.6;
}

.TabLabel{
	letter-spacing: 1px;
	font-size:18px;
	color:white;
	width:100%;
	text-align:center;
	vertical-align:center;
	
}

.TabPanelOnServ:hover .TabLabelOnServ{
	color:#d7bb00;
	text-shadow: 2px 2px 8px 3.0 #222222;
	brightness: 1.9;
}

.DonateShopContentPanel{
	height:535px;
	width:1230px;
	border-top-right-radius:6px;
	overflow: clip scroll;
	box-shadow: #00000080 4px 4px 8px 0px;
}

.selected_bd{
	brightness: 1.2;
}

.selected_text{
	color:#d76a00;
}

.horizontal_panel{
	horizontal-align:center;
	flow-children: right;
}

.DonateShopItem{
	margin-top:10px;
	width:160px;
	height:120px;
	border:3px solid #c7c7c7;
	border-radius:4px;
	background-size:100%;
	horizontal-align:center;
}

.DonateShopItem1{
	width:13.7%;
	height:210px;
	background-color: rgba(0, 0, 0, 0.4);
	margin:10px 5px 0 5px;
	border-radius:5px;
}

.DonateShopItem2{
	width:13.6%;
	height:280px;
	background-color: rgba(0, 0, 0, 0.4);
	margin:10px 5px 0 5px;
	border-radius:5px;
}

#discord{
	height: 50px;
	width: 50px;
	horizontal-align:right;
	margin-bottom: 10px;
	margin-right: 10px;
	vertical-align: bottom;
}

#discord:hover{
	brightness: 2.0;
}














.TabContent{
width:100%;
flow-children:down;
}




.ScrollThumb{
visibility: collapse;
}






.DonateMoneyLogoButton{
width:35px;
height:70%;
margin-left:20px;
}


.DonateMoneyPanel{
border-radius:10px;
margin-top: 10%;
}


.MMMRPointsPanel{
border-radius:10px;
margin-top: 10%;
}


.DonateMoneyLogo3{
vertical-align:center;
height:20px;
width:30px;
margin-left:10px;
}
.MMMRPointsLogo{
vertical-align:center;
height:20px;
width:23px;
margin-left:10px;
}
.DonateMoneyLabel{
color:gold;
font-size:20px;
margin-left:45px;
vertical-align:center;
text-shadow: 1px 1px 8px 0.5 #666066;
}

.closeShop{
width:50px;
height:50px;
border:1px solid black;
horizontal-align:right;
}




.DonateShopItemButtonBuy{
width:160px;
height:30px;
margin: 0 5px 0 5px;
margin-top:170px;
background-color: #222C3A;
border:3px solid #0B1C32;
flow-children:right;
}

.DonateShopItemButtonHas{
width:160px;
height:30px;
margin-left:5px;
margin-right:5px;
margin-top:170px;
background-color: #294727;
border:3px solid #0F3E0C;
}

.DonateShopItemButtonGived{
width:160px;
height:30px;
margin: 0 5px 0 5px;
margin-top:170px;
background-color: #742E30;
border:3px solid #4C0F11;
}







.DonateShopItemLabel{
width:100%;
height:30px;
margin-top:135px;
text-align:center;
color:#c7c7c7;
font-size:18px;
}

.DonateShopItemButtonLabelStock{
width:30px;
height:30px;
margin-left:15px;
margin-top:15px;
background-color: #23354D;
border:3px solid #0B1C32;
text-align:center;
color:white;
font-size:18px;
padding:2px 2px 2px 0;
border-radius:50%;
}

.DonateShopItemButtonLabel{
color:#c7c7c7;
font-size:20px;
width:100%;
text-shadow: 2px 2px 8px 3.0 #333333b0;
vertical-align:center;
text-align:center;
}

.DonateShopItemButtonHasCon{
width:160px;
height:30px;
margin: 0 5px 0 5px;
margin-top:170px;
background-color: #222C3A;
border:3px solid #0B1C32;
flow-children:right;
}

.DonateShopItemButtonBuyCon{
width:160px;
height:30px;
margin: 0 5px 0 5px;
margin-top:205px;
background-color: #294727;
border:3px solid #0F3E0C;
}

.DonateShopReturnItemBtn{
width:160px;
height:30px;
margin: 0 5px 0 5px;
margin-top:240px;
background-color: #742E30;
border:3px solid #4C0F11;
}

.DonateShopItemButtonLabelGived:hover,.DonateShopItemButtonLabel:hover{
color:red;
sound: "ui_select_arrow";
}

.DonateShopItemButtonLabelGived{
color:#c7c7c7;
font-size:18px;
width:100%;
text-shadow: 2px 2px 8px 3.0 #333333b0;
vertical-align:center;
text-align:center;
}

#shop_button_price_container_don:hover,#shop_button_price_container_rp:hover{
background-color: #617EA6;
sound: "ui_select_arrow";
}

.DonateShopItemButtonLabelNotAlign{
color:gold;
font-size:20px;
vertical-align:center;
margin-right:5px;
}



.DonateShopItemButtonNeedMore{
vertical-align:bottom;
width:160px;
height:30px;
margin-left:10px;
margin-bottom:10px;
background-color: #742E30;
border:3px solid #4C0F11;
}

.DonateShopItemButtonNeedMore:hover .DonateShopItemButtonLabelNeedMore{
color:red;
sound: "ui_select_arrow";
}
.DonateShopItemButtonLabelNeedMore{
color:#c7c7c7;
font-size:15px;
width:100%;
margin-top:1px;
text-shadow: 2px 2px 8px 3.0 #333333b0;
vertical-align:center;
text-align:center;
}







.shopButtonImg{
width:25px;
height:80%;
margin-top:10%;
}
.shopButtonImgAndText{
horizontal-align:center;
flow-children:right;
height:100%;
}
#shopButtonImg2{
width: 25px;
}
.shop_button_1_params{
width: 160px;
height: 100%;
}
.shop_button_2_params{
width: 50%;
height: 100%;
}


.BuyControl{
vertical-align:center;
horizontal-align:center;
width:586px;
height:421px;
margin-bottom:250px;
}
.acceptButton{
height:73px;
width:144px;
margin-top:310px;
margin-left:100px;
}
.cancelButton{
height:73px;
width:144px;
margin-top:310px;
horizontal-align:right;
margin-right:100px;
}
.BuyControlButtonText{
text-align:center;
width:100%;
vertical-align:center;
color:white;
font-size:28px;
margin-bottom: 13px;
text-shadow: 2px 2px 8px 3.0 #333333b0;
}
.BuyControlTextPanel{
width:100%;
margin-top:20px;
flow-children:down;
}
#BuyControlTextLine1{
color: white;
width:100%;
text-align:center;
font-size:25px;
margin-top: 60px;
font-weight: bold;
text-shadow: 2px 2px 8px 3.0 #333333b0;
}
#accept_shadow{
width: 100%;
height: 650px;
margin-top: 39px;
background-color: rgba(0, 0, 0, 0.9);
z-index: 2;
}

#BuyControlTextLine3{
color: white;
text-align:center;
font-size:25px;
width:100%;
text-align:center;
margin-top: 200px;
text-shadow: 2px 2px 8px 3.0 #333333b0;
}
#BuyControlTextLine3_pan{
horizontal-align:center;
flow-children:right;
margin-top: 20px;
}
#BuyControlDropPanel{
margin-bottom: 125px;
vertical-align: bottom;
}
#BuyControlDrop,#BuyControlDropPanel{
width: 100px;
horizontal-align:center;
}

.DonateShopItemButtonActive{
width:160px;
height:35px;
margin-left:10px;
vertical-align:bottom;
margin-bottom:10px;
background-color: gradient( radial, 50% 50%, 0% 0%, 80% 80%, from( #c2db31 ), to( #7c8620 ) );
border:3px solid #86880c;
border-radius:10px;
}
.DonateShopItemButtonActive:hover .DonateShopItemButtonLabelActive{
font-size: 23px;
color: black;
}
.DonateShopItemButtonLabelActive{
color:#1f1d1f;
font-size:20px;
width:100%;
margin-top:1px;
text-shadow: 2px 2px 8px 3.0 #333333b0;
vertical-align:center;
text-align:center;
}


.DonateShopItemButtonLabelGived{
color:#c7c7c7;
font-size:20px;
width:100%;
margin-top:-1px;
text-shadow: 2px 2px 8px 3.0 #333333b0;
vertical-align:center;
text-align:center;
}
.RatingCloseButtonIcon{
vertical-align:center;
margin-right:5px;
}



#acceptButton:active,#cancelButton:active{
sound: "ui_learn_mode_popup";
}

.acceptButton:hover .controllButtonImg,.cancelButton:hover .controllButtonImg{
brightness: 1.5;
}

.open_shop{
animation-name: open_shop;
animation-duration: .2s;
animation-timing-function: linear;
}
@keyframes 'open_shop'{

from{
opacity:0;
transform: translate3d(0px, 700px, 0px);
pre-transform-scale2d: 0.1;
}

to{
opacity: 1;
transform: translate3d(0px, 0px, 0px);
pre-transform-scale2d: 1;
}
}
.close_shop{
animation-name: close_shop;
animation-duration: .2s;
animation-timing-function: linear;
}
@keyframes 'close_shop'{

from{
opacity:1;
transform: translate3d(0px, 0px, 0px);
pre-transform-scale2d: 1;
}

to{
opacity: 0;
transform: translate3d(0px, 700px, 0px);
pre-transform-scale2d: 0.1;
}
}
.shopProfilPanel{
height:100px;
width:100%;
margin-top:50px;
margin-left:-80px;
}

.shop_selection_panel{
width: 100%;
height: 100px;
margin-top: 40px;
z-index: 1;
}


#donate{
height: 70px;
width: 70px;
horizontal-align:left;
margin-bottom: 10px;
border:1px solid black;
margin-left: 92px;
vertical-align: bottom;
border-radius:10px;
}

#donate:hover{
brightness: 2.0;
}
#shop_gems_panel{
height: 150px;
width: 450px;
horizontal-align: right;
margin-top: 50px;
flow-children:right;
}
.smithy_gem_image{
height: 70px;
width: 70px;
}
.smithy_gem_base_class{
flow-children:down;
}
.smithy_gem_lable{
margin-top: 10px;
width: 100%;
text-align: center;
font-family: "Courier";

color:white;
font-weight: bold;
}


#smart_toggle{
margin-top: 15px;
margin-left:125px;
horizontal-align:left;
}